{% extends 'base.html' %}

{% block title %} contact{% endblock title %}


{% block content %}
<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1600x400/?phone" class="d-block w-100" alt="...">
</div>

<div class="container py-4">
    <h1 class="text-center">Contact Us</h1>
    <form method="post" action="/contact">
     {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Username</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Your phone Number">
        </div>

        <div class="mb-3">
            <label for="desc" class="form-label">Tell me about Your query</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
{% endblock content %}